html {
  font-family: "Ubuntu", Helvetica;
  color: white;
  height: 100%;
  width: 100%;
  background: rgb(26, 188, 156);
  background: -moz-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(26, 188, 156, 1) 0%,
    rgba(142, 68, 173, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
}

.innerContainer {
  width: 800px;
  display: flex;
  justify-content: center;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#stages span {
  margin-right: 10px;
}

#textBar {
  height: 150px;
}

#title {
  font-family: "Ubuntu";
  text-align: center;
}

#textBar {
  font-size: 30px;
}

#stages span {
  font-size: 50px;
  font-weight: bold;
}

#board {
  width: 500px;
}

#rewardsPanel {
  width: 75px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 20px 20px 0;
  justify-content: center;
  align-items: center;
}

.reward {
  margin-bottom: 20px;
}

.reward img {
  width: 50px;
  height: 50px;
}
